<html>
<head>
	<title>Website | {% block title %} {% endblock %}</title>
</head>
<body>
	{% include 'templates/partials/nav.twig' %}
	{% include 'templates/partials/messages.twig' %}
	{% block content %}{% endblock %}
</body>
</html>